<div>
  <button mat-button color="primary" (click)="watch.start()">START</button>
  <button mat-button color="accent" (click)="watch.stop()">STOP</button>
  <button mat-button color="warn" (click)="watch.clear()">CLEAR</button>
</div>
<app-timer #watch></app-timer>

<div>
  <button mat-button color="primary" (click)="start()">START</button>
  <button mat-button color="accent" (click)="stop()">STOP</button>
  <button mat-button color="warn" (click)="clear()">CLEAR</button>
</div>

<p #myPi>HI</p>
